@import '../../global/variables';

:host {
  display: block;
}

tq-topbar {
  display: block;
  background: map-get($colors, primary);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  padding: 0 16px;
  position: relative;
  z-index: 1;  
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    > div {
      height: 47px;
    }
  }
  > div {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: white;
  }
}

.mobile tq-topbar {
  > div {
    height: 47px;
  }
}